.card{
    width: 450px;
    border: 2px solid transparent;
    background-color: skyblue;
    padding: 2px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px black;
}
.main-body div{
    margin: 0 auto;
}
div{
    padding: 10px;
}
#bmiguide{
    width: 450px;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}